postgresql_uri='postgresql+asyncpg://username:password@host/Conduct' # use asyncpg
redis_host='localhost'
redis_port=6379
redis_password=''
redis_user_name=''
redis_db=8
jwt_secret_key='Someencryptedkey'
jwt_algorithm='HS256'
jwt_expire_in_sec=864000
domain_email=@sece.ac.in
email_password=senderemailpassword
email_email=senderemail@gmail.com
celery_backend="redis://localhost:6379/3" # Some redis uri for celery process to work as backend
celery_broker="redis://localhost:6379/3" # Some redis uri for celery process to work as Broker
